:host {
  display: flex;
  justify-content: center;
}

section > h1 {
  font-size: 24pt;
}

section {
  background-color: chartreuse;
  width: 80%;
}

section > form > div {
  margin: 2em;
}

section > form > div > label {
  font-size: 18pt;
  vertical-align: top;
  display: flex;
  margin-bottom: 0.7em;
}

section > form > div > input {
  width: 500px;
  height: 40px;
}

section > form > div > textarea {
  width: 500px;
  height: 80px;
}
