
---
import Layout from '../layouts/Layout.astro';
import { db, eq, Kunde, Bestellung } from 'astro:db';

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const formcode = formData.get('kunde');
  const bestellung = formData.get('bestellung');
  let code: number;
  if (typeof formcode === 'string' && typeof bestellung === 'string')
  if (formcode.match(/^\d+$/)) {
    code = Number(formcode);
    const kunde = await db.select().from(Kunde).where(eq(Kunde.code, code));
    if (kunde) {
      const anlageAm = new Date();
      await db.insert(Bestellung).values({kundencode: code, bestellung: bestellung, datum: anlageAm});
    }
  }
}

---

<Layout title="Lucas Delivery">
	<main>
    <h1>Bestellung aufgeben</h1>
    <section>
      <form method="POST">
				<div>
        <label for="kunde">Kundecode:</label>
        <input type="text" id="kunde" name="kunde" />
			</div>
			<div>
        <label for="bestellung">Bestellung:</label>
        <textarea id="bestellung" name="bestellung"></textarea>
			</div>
        <button type="submit">Bestellung absenden</button>
      </form>
    </section>
  </main>
</Layout>

<style>
	html {
		background-image: linear-gradient(to top, pink, #9a05f3);
    height: 100%;
	}


	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
